bab 1.py
bab_1_python_core_for_ai.zip

.gitignore

.venv/
__pycache__
.env
.vscode
Python-for-Gen-AI.pdf
Python-for-Gen-AI.pdf

bab 2.py
bab_2_llm_apis_and_prompting.zip
.python-version

module_07_prompt_engineering.zip
script_generator_module_07_ke_zip.py

module_08_embeddings_and_semantic_search.zip
script_generator_module_08_ke_zip.py
Python-for-Gen-AI---Guide-2026-01-05-10-23-4.pdf

script_generator_phase_3_ke_zip.py
bab_3_genai_libraries.zip
bab_3_genai_libraries